pkgbase = fzpac-git
	pkgdesc = Arch Linux package finder with fzf
	pkgver = HEAD
	pkgrel = 1
	url = https://github.com/sheepla/fzpac
	arch = any
	license = MIT
	depends = fzf
	optdepends = bash-completion: for bash completion support
	optdepends = zsh-completions: for zsh completion support
	optdepends = fish: for fish completion support
	optdepends = yay: for AUR helper support
	optdepends = paru: for AUR helper support
	source = fzpac::git+https://github.com/sheepla/fzpac.git
	md5sums = SKIP

pkgname = fzpac-git
